:root {
    --primary: #1A2B33;
    --secondary: #1E3640;
    --grey: #A9BEC8;
    --dark-cyan: #34C3BE;
    --lighten-yellow: #F2B138;
    

}
* {
    padding: 0;
    margin: 0;
}
body {
    letter-spacing: .08em;
    text-transform: uppercase;
    font-family: 'Outfit', sans-serif;
}

.game-status h2, .logo, .undo {
    display:flex;
    gap: 10px;
    align-items: center;
    color: var(--grey);
}

.turn-icon {
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./assets/icon-x-gray.svg);
}

.container {
    height:100vh;
    width: 100vw;
    background-color: var(--primary);
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
}

.header {
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.game-status {
    display: flex;
    width: 15vw;
    justify-content: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
    background-color: var(--secondary);
    border-radius: 15px;
}

.undo button {
    background-color: var(--grey);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.invisible {
    visibility: hidden;
    display: none;
}

/* .game-status .svg {
    display: none;
} */

.main {
    grid-row: 2 / 3;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-grid {
    width: 350px;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
}

.game-grid div {
    background: var(--secondary);
    border-radius: 5px;
    font-weight: 700;
    display: grid;
    place-items: center;
    font-size: 3.5rem;
    outline: 2px solid rgba(255, 255, 255, .2);
    transition: all .5s ease;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.score-section {
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 15px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: var(--primary);
    margin: auto;
    padding: 0;
    border: 1px solid var(--grey);
    width: 80%;
    color: var(--grey);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  .modal-header {
    padding: 2px 16px;
    background-color: var(--secondary);
    color: var(--grey);
  }
  
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: var(--secondary);
    color: var(--grey);
  }


#restart-game:active {
    transform: scale(.95) translateY(5px);
    box-shadow: 0 0 0, inset 0 2px 10px rgba(0, 0, 0, .4);
    filter: brightness(1.2);
}

[class*='clicked'] {
    transform: scale(.95) translateY(5px);
    box-shadow: 0 0 0, inset 0 2px 10px rgba(0, 0, 0, .4);
    filter: brightness(1.2);
}

.x-score-card, .tie-score-card, .o-score-card {

    width: 10vw;
    height: 5vw;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    text-align: center;
    color: var(--primary);
}

.x-score-card {
    background: var(--dark-cyan);
}

.tie-score-card {
    background: var(--grey);
}

.o-score-card {
    background: var(--lighten-yellow);
}